In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('country_vaccination_stats.csv')
data.head(10)

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V
5  Argentina    1/3/2021              7400.0  Sputnik V
6  Argentina    1/4/2021              6483.0  Sputnik V
7  Argentina    1/5/2021              7984.0  Sputnik V
8  Argentina    1/6/2021              8173.0  Sputnik V
9  Argentina    1/7/2021              8363.0  Sputnik V

In [3]:
for col in data.columns:
    print("Column:",col)
    print(data[col].value_counts())

Column: country
Northern Ireland        43
Scotland                43
Canada                  43
Wales                   43
Israel                  38
China                   37
United States           37
United Kingdom          36
England                 36
Mexico                  33
Chile                   33
Lithuania               32
Czechia                 30
Denmark                 30
Italy                   30
Switzerland             30
Russia                  30
Greece                  29
Norway                  29
Germany                 29
Portugal                29
Bahrain                 29
Estonia                 29
Latvia                  29
Romania                 29
Bulgaria                28
Argentina               28
Hungary                 28
Malta                   28
Oman                    28
Poland                  28
Croatia                 27
Iceland                 27
Luxembourg              26
Finland                 26
Costa Rica              26
Belgium                 26
Ireland                 25
Sweden                  22
France                  22
Spain                   22
Slovenia                22
United Arab Emirates    21
Austria                 20
Serbia                  18
Slovakia                18
Netherlands             17
Cyprus                  17
Gibraltar               15
Seychelles              15
Indonesia               14
Turkey                  13
Saudi Arabia            12
Singapore               12
India                   11
Brazil                  10
Panama                   6
Isle of Man              5
Ecuador                  2
Kuwait                   1
Name: country, dtype: int64
Column: date
1/16/2021     55
1/17/2021     55
1/15/2021     54
1/13/2021     54
1/12/2021     53
1/21/2021     53
1/14/2021     53
1/19/2021     53
1/20/2021     53
1/18/2021     53
1/11/2021     52
1/10/2021     51
1/22/2021     51
1/9/2021      50
1/8/2021      49
1/7/2021      48
1/6/2021      48
1/23/2021     46
1/24/2021     45
1/5/2021      45
1/4/2021      43
1/3/2021      40
12/31/2020    39
1/2/2021      39
1/1/2021      39
12/30/2020    37
12/29/2020    34
12/28/2020    33
1/25/2021     27
12/27/2020    23
12/26/2020    16
12/25/2020    16
12/24/2020    15
12/23/2020    12
12/20/2020    10
12/21/2020    10
12/22/2020    10
12/19/2020     7
12/15/2020     6
12/16/2020     6
12/17/2020     6
12/18/2020     6
12/14/2020     4
12/13/2020     3
Name: date, dtype: int64
Column: daily_vaccinations
3000.0      22
63.0        21
187500.0    16
62.0        12
240.0       10
            ..
3361.0       1
31828.0      1
2360.0       1
425.0        1
7984.0       1
Name: daily_vaccinations, Length: 1224, dtype: int64
Column: vaccines
Pfizer/BioNTech                          742
Moderna, Pfizer/BioNTech                 333
Oxford/AstraZeneca, Pfizer/BioNTech      201
Sputnik V                                 58
Pfizer/BioNTech, Sinopharm                50
CNBG, Sinovac                             37
Sinovac                                   37
Pfizer/BioNTech, Sinopharm, Sputnik V     18
Sinopharm                                 15
Covaxin, Covishield                       11
Name: vaccines, dtype: int64

In [4]:
#eksik değerlerin sayısı
data.isnull().sum().sum()

60

In [5]:
#nan değerlerin bulunduğu yerler
data.isnull().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [6]:
print(data.isnull().sum().sort_values(ascending=False))

daily_vaccinations    60
vaccines               0
date                   0
country                0
dtype: int64

In [7]:
#NaN değerleri bulunduğu ülkedeki en küçük değere göre doldurma işlemi

In [8]:
data["daily_vaccinations"].fillna(data.groupby("country")["daily_vaccinations"].transform("min"), inplace=True)
print(data.isnull().sum().sort_values(ascending=False))

daily_vaccinations    1
vaccines              0
date                  0
country               0
dtype: int64

In [9]:
import numpy as np

In [10]:
data.replace(np.nan, 0, inplace=True)

In [11]:
data.head(10)

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020              6483.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V
5  Argentina    1/3/2021              7400.0  Sputnik V
6  Argentina    1/4/2021              6483.0  Sputnik V
7  Argentina    1/5/2021              7984.0  Sputnik V
8  Argentina    1/6/2021              8173.0  Sputnik V
9  Argentina    1/7/2021              8363.0  Sputnik V

In [12]:
#medyan değerini buldum ve bir dataframe içine attım.

In [13]:
datamedyan=pd.DataFrame(data.groupby('country')['daily_vaccinations'].median())

In [14]:
datamedyan

                      daily_vaccinations
country
Argentina                        11645.0
Austria                           7850.0
Bahrain                           3662.0
Belgium                           3606.0
Brazil                           17220.0
Bulgaria                          1010.0
Canada                           11044.0
Chile                             1291.0
China                           276786.0
Costa Rica                         675.5
Croatia                           2485.0
Cyprus                             708.0
Czechia                           5378.0
Denmark                           7095.5
Ecuador                            108.0
England                         107310.5
Estonia                           1043.0
Finland                           2035.5
France                           41496.0
Germany                          51184.0
Gibraltar                          713.0
Greece                            5290.0
Hungary                           5464.5
Iceland                             63.0
India                           173922.0
Indonesia                        13200.0
Ireland                           6528.0
Isle of Man                        138.0
Israel                           92587.0
Italy                            44475.5
Kuwait                               0.0
Latvia                             592.0
Lithuania                         1933.5
Luxembourg                          88.0
Malta                              407.5
Mexico                            5488.0
Netherlands                       6762.0
Northern Ireland                  2135.0
Norway                            2958.0
Oman                              1192.0
Panama                            1324.0
Poland                           22702.5
Portugal                          5944.0
Romania                          13030.0
Russia                           23563.0
Saudi Arabia                     16807.5
Scotland                          5821.0
Serbia                            2920.0
Seychelles                        1000.0
Singapore                         4907.0
Slovakia                          5357.0
Slovenia                          2374.0
Spain                            55238.0
Sweden                            5382.5
Switzerland                       3000.0
Turkey                          150356.0
United Arab Emirates             86430.0
United Kingdom                  120409.0
United States                   378253.0
Wales                             2198.0

In [15]:
datamedyan.shape

(60, 1)

In [16]:
#Medyan değerleri içeren dataframe'i büyükten küçüğe doğru sıraladım
#ilk 3 sıralama tablodada görüldüğü gibi United States, China ve India

In [17]:
datamedyan=datamedyan.sort_values('daily_vaccinations',ascending=False)

In [18]:
datamedyan[:3]

               daily_vaccinations
country
United States            378253.0
China                    276786.0
India                    173922.0